html,
body {
    margin: 0;
    height: 100%;
}

.container {

}
.main {
    width: 100%;
}


.nav {
	font-size: 12px;
    margin: 0;
    list-style: none;
    background-color: #1F2637;
	width: 100%;

	margin-bottom: 5px;
}
.nav2 {
	font-size: 12px;
    margin: 0;
    list-style: none;
    background-color: #1F2637;
	width: 100%;
	margin-bottom: 5px;
}
.nav:hover {
    
}

.nav__item {
	padding-left:15px; 
}
.nav__item1 {
	height: 140px;
    float: left;

}
.nav__link,.nav__link1,.nav__link2,.nav__link3,.nav__link4 {
    display: block;
    font-family: sans-serif;
    text-decoration: none;
    color: #79839C;
    padding: 7px 10px;

}


.nav__link:hover {
    color: white;
    background: #15A4FA;

}
.nav__link1:hover {
    color: white;
    background: #15A4FA;

}
.nav__link2:hover {
    color: white;
    background: #15A4FA;

}
.nav__link3:hover {
    color: white;
    background: #15A4FA;

}
.nav__link4:hover {
    color: white;
    background: #15A4FA;

}

.article {
    margin-left: 20px;
    margin-top: 25px;
    float: left;
}

.article__caption {
    color: rgba(105, 93, 93, 0.8);
    text-decoration: overline;
    margin: 30px 0 0 0;
}

.article__content {
    color: #B5B3B3;
}


.stars{
	color: #FFAB00;	
}
.nav2 a.nav__link1:before{
	content: "";
	width: 6px;
	display: inline-block;
	height: 6px;
	background: #E64C66;
	border-radius: 3px;
}
.nav2 a.nav__link2:before{
	content: "";
	width: 6px;
	display: inline-block;
	height: 6px;
	background: #FFAC00;
	border-radius: 3px;
}
.nav2 a.nav__link3:before{
	content: "";
	width: 6px;
	display: inline-block;
	height: 6px;
	background: #00BFDD;
	border-radius: 3px;
}
.nav2 a.nav__link4:before{
	content: "";
	width: 6px;
	display: inline-block;
	height: 6px;
	background: #7874CF;
	border-radius: 3px;
}
.button {
	width: 210px;
	height: 58px;
	margin: 20px;
	border: 1px solid #F2795A;
	border-radius: 6px;
	color: white;
	font-weight: 900;
	background-color: #F2795A;
	outline: none;
}
i{
	padding-right: 15px;
}
.text1{
	padding-left: 20px;
}
.text2{
	padding-left: 27px;
	font-size: 10px;
}
.text3{
	font-size: 10px;
	color: #505B70;
}
.textLink{
	font-size: 10px;
	color: #B5B3B3;
}
.stars > i{
	padding: 0;
}

.text_article1{
color: #666C7F;
font-size: 16px;

font-family: sans-serif;
}
.text_article2{
color: #7C889A;
font-size: 10px;
font-family: sans-serif;
font-weight: 600;
}


.header_right {
	padding: 15px;

}
 .header {
    
    padding: 5px;
    background-color: #2F364A;
    color: white;
    position: fixed;
    width: 100%;
    height:50px;
    clear: both;
    overflow: auto;
    z-index:1;

}


.header_bottom {
    border-top: 1px solid #DDE1EB;
    border-bottom:1px solid #DDE1EB;
    padding: 10px;
}



.my_colum{
}

.nav__link:hover {
    color: white;
    background: #15A4FA;

}

.button_head2{
	background-color: #EEF1F7;
	border: 1px solid #EEF1F7;
	border-radius: 14px;
	padding: 3px;
	padding-left:8px;
	padding-right:8px;
    color:#838CA4;
    font-family: sans-serif;
    font-weight: 600;
}

.button_head2:hover{
	color: white;
    background-color: #95B1C4;
}
.header_text2{
    font-family: sans-serif; 
    font-weight: 400;
    font-size: 32px; 
    padding-left: 20px;
}
.search{
    border: 2px solid #D4D7DD;
    border-radius: 15px;
    padding: 2px;
    background-color: white;
    float:right;
}
input[type="search"] {
    border: none; 
    width: 274px; 
    position:relative; 
    left: 10px;
}
.fa-search {
    position:relative;
    color:#80849D;
    font-size: 10px;
}
.header > a.nav__link {
    float: right;
    vertical-align: text-bottom;
    padding-right: 15px;
    padding-left: 15px;
    height: 30px;
    padding-top: 15px;
}
.header > a.nav__link:nth-child(1) {
padding-left: 65px;
}
#ava{
    position: absolute;
    right: 95px;
    top: 15px;
    padding-right: 35px;
    vertical-align: top;
}
.footer > a.nav__link{
    float: right;
    padding-left: 25px;
    padding-top: 20px;
    height: 60px;
}
input{
    position: relative;
    z-index:0;
}
.footer {
    z-index: 1;
    position: fixed;

    float: right;
    height: 60px;
    width: 100%;
    background-color: #181E2C;
    bottom: 0px;
}
.section {
    position: absolute;
    overflow-y: scroll;
    width: 82%;
    left: 18%;
    clear:both;
    height: 100%;

}
.left-side {
    margin-top: 60px;
    float: left;
    background-color: #19202E;
    height: 100%;
    position: fixed;
    float: left;

    width:18%;
}
.header_container{
    background-color: #EEF1F7;
    color: #4C546A;
    float: left;  
    margin-top: 60px;
    width: 100%;
    /*margin-right: 0px;
    padding-left: 290px;*/ 

}
.block{
    height: 80px;
}
