.my-flex-container{
	display: flex;
	height: 700px;
	max-width: 1000px;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	flex-direction: column; /*направление гл оси*/
	flex-wrap: wrap;
	margin-left: 10px;
	
}
.my-flex-block{
	padding: 10px;
	display: flex;
	
	flex-direction: column;/*направление гл оси*/
	justify-content:flex-start; /* определяет выравнивание относительно главной оси*/
	align-items:center;/*align-items отвечает за выравнивание по перпендикулярной оси.*/ 
	
}
button{
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 15px;
	padding-left: 15px;
	border: 1px solid #828283;
	border-radius: 3px;
	margin: 8px;
	color: #828283;
}
.button{
	display: flex;	
}
.border{
	border: 1px solid #828283;
	border-radius: 3px;
	padding: 10px;
}

button:hover{
	background-color: #8EC84A;
	color: white;
}
img{
	opacity:1.0;
}
.opacity{
	background-color:#000;
}
img:hover{
	opacity:0.4;
	background-color:#000;

}
div.opacity{
	height: 201px;
}
.border:hover:before{
	content: "Business theme";
	width: 120px;
	color: white;
	position: absolute;
	margin-top:70px;
	margin-bottom:70px;
	margin-left:40px;
	margin-right:40px;
}
.opacity:hover:after{
	content: "by";
	width: 120px;
	color: grey;
	position: absolute;
	margin-top:90px;
	margin-bottom:60px;
	margin-left:-140px;
	margin-right:-10px;
	opacity:1.0;
}
.opacity:hover:before{
	content: "themeforest";
	width: 120px;
	color: green;
	position: absolute;
	margin-top:90px;
	margin-bottom:70px;
	margin-left:60px;
	margin-right:40px;

}