body {
 
}
.rotate {
  width: 50px;
  height: 50px;
  margin-top: 200px;
  margin-left: calc(50% - 25px);
  animation-name: myRotate;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  animation-direction: alternate-reverse;
  position: relative;
  background: linear-gradient(to top, red, blue);
}




@keyframes myRotate {
  0% { 
  background: linear-gradient(to top, red, blue);
  border-radius: 0;
  }
  
  25%  { 
  transform:skew(0deg, 0deg);
  }
  50%  { 
  background: radial-gradient(circle at center, red, blue);
  border-radius: 100%;
  transform:skew(25deg, 35deg);
  width: 100px;
  height: 30px;
  transform: rotate(0deg);
    
  }
  75%  {  
  transform: rotate(360deg);
    
  }
  100%  { 
  border-radius: 0;
  background: linear-gradient(15deg, red 15px, #3F11B5, #00BeD4 ,#009688);  

  }
}