.class1 {
	background-color: #569099;
	color: white;
	font-size: 26;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 1px;
	margin-right: 1px;

	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 8px;
	padding-left: 8px;
}
.class2 {
	background-color: #cad8d0;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 1px;
	margin-right: 1px;

	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 8px;
	padding-left: 15px;
}