

.one{ 

	font-family: sans-serif;
	font-size: 14;
	color: #637994;
	height: 45;
  border: 2px solid white;
  background:  #e8edf4;
}
.one:hover{ 

	font-family: sans-serif;
	font-size: 14;
	color: #637994;
	height: 45;
  border: 2px solid white;
  background:  #e2e5e9;
}
.two{

	font-family: sans-serif;
	font-size: 14;
	color: #637994;
	height: 45;
  border: 2px solid white;
  background:  #f2f6fa;
}
.two:hover{

	font-family: sans-serif;
	font-size: 14;
	color: #637994;
	height: 45;
  border: 2px solid white;
  background:  #e2e5e9;
}
#header{
	height: 25;
  border: 2px solid white;
  background:  #e3eaf3;
  color: #828e9c;
  font-variant: small-caps;
  font-family: sans-serif;
  font-size: 12;}
td{
padding:20px;	
}